# Database
DATABASE_URL=postgresql://username:password@hostname:port/database

# Neon Auth
NEON_AUTH_BASE_URL=
NEON_AUTH_COOKIE_SECRET=
NEXT_PUBLIC_NEON_PROJECT_ID=

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key

# Next.js
NODE_ENV=development
